[submodule "projects/nestjs-meeting-management"]
	path = projects/nestjs-meeting-management
	url = https://github.com/vinsonw/nestjs-meeting-management.git
[submodule "projects/rrd-tutorial-1"]
	path = projects/rrd-tutorial
	url = https://github.com/vinsonw/rrd-tutorial.git
[submodule "projects/neetcode"]
	path = projects/neetcode
	url = git@github.com:vinsonw/neetcode.git
